body{
    font-family: 'Courgette', cursive;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
#main{
    margin: 100px auto;
    width:360px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
ul{
    list-style: none;
    margin : 0;
    padding : 0;
    border-radius: 20px;
}
input[type='text'], textarea{
    background-color: black;
}
input{
    color: white;
    padding : 8px 8px 8px 20px;
    width : 100%;
    box-sizing: border-box;
    border: rgba(0,0,0,0);
}
input:focus{
    background-color: black;
    outline : none;
}
li{
    background-color: black;
    color: white;
    height : 40px;
    line-height: 40px;
    padding : 5px auto;
}
li:last-child{
    border-radius: 0px 0px 20px 20px;
}
li:hover span{
    width : 40px;
    opacity: 1.0;
}
.completed{
    text-decoration: line-through;
}
h1{
    background: black;
    border-radius: 20px 20px 0px 0px;
    background-color : black;
    font-family: 'Courgette', cursive;
    font-size : 24px;
    font-weight: normal;
    margin : 0;
    padding : 10px 20px;
    color: white;
}
span{
    background: #e74c3c;
    height : 40px;
    width :0px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    transition: 0.2s linear;
    opacity: 0;
    border-radius: 20px;
}
#top{
    background: linear-gradient(
            to right,#FF0080, #FF8C00, #40E0D0);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.fa-plus{
    float: right;
    background: linear-gradient(
            to right,#FF0080, #FF8C00, #40E0D0);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
